<html>
  <head>
    <title>SSB turtle</title>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0,viewport-fit=cover">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/modal.css">
  </head>
  <body>
    <div id="app">
      <h1>SSB turtle demo</h1>

      <img style="width: 200px;" src="hermies.gif"/>
      <img style="width: 500px;" src="turtle-flipped.png"/>

      <div>
        <input style="padding: 5px; width: 30rem;" type="text" placeholder="app message id" v-on:keyup.enter="getapp" v-model="appId" />
        <button v-on:click="getapp" class="clickbutton">Download app</button>
        <br><br>
        Remote:<input style="margin-left: 10px; padding: 5px; width: 34.9rem;" type="text" placeholder="remote peer" v-model="remoteAddress" />
      </div>

      <h1>Locally cached apps</h1>
      <ul style="list-style: none;">
        <li v-for="app in apps">
          <div class="container" v:if="app.screenshot" >
            <img class="image" v-bind:src="SSB.net.blobs.remoteURL(app.screenshot)" />
            <div class="middle">
              <button class="clickbutton" v-on:click="loadapp(app.name, app.blobsDir)">{{ app.name }}</button>
            </div>
          </div>
          <div v-else>
            <button class="clickbutton" v-on:click="loadapp(app.name, app.blobsDir)">{{ app.name }}</button>
          </div>
        </li>
      </ul>

      <transition name="modal" v-if="showNewAppModal" style="display: none;">
        <div class="modal-mask">
          <div class="modal-wrapper">
            <div class="modal-container">
              <div>
                <h2>{{ newAppMessage.name }}</h2>
              </div>

              <div class="modal-body">
                <b>Description</b>: {{ newAppMessage.description }} <br>
                <b>Author</b>: {{ newAppMessage.author }} <br>
                <b>Version</b>: {{ newAppMessage.version }} <br>
                <img class="image" style="margin-left: auto; margin-right: auto; display: block;" v-bind:src="SSB.net.blobs.remoteURL(newAppMessage.screenshot)" />
              </div>

              <div class="modal-footer">
                <button class="clickButton" @click="showNewAppModal = false">
                  Close
                </button>
                <button class="modal-default-button clickButton" v-on:click="loadNewApp">
                  Load app
                </button>
              </div>
            </div>
          </div>
        </div>
      </transition>

    </div>
  </body>

  <script src="node_modules/vue/dist/vue.min.js"></script>
  <script src="node_modules/ssb-browser-core/dist/bundle-core.js"></script>

  <script src="bundle-main.js"></script>
</html>
